<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datos del Usuario: {{fullName}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  	
  </head>
  </head>
<body>	   
   
<div class="container">
  <h2>Usuario</h2>
  
	<form class="form-horizontal" action="/usuario/save" method="POST">	
	<div class="form-group">
      <label class="control-label col-sm-2" for="name">C&oacute;digo:</label>
      <div class="col-sm-10">
      	{% if (usuario.idUsuarioNormal) %} 
      		<input class="form-control" id="name" value="{{usuario.idUsuarioNormal}}" name="idUsuarioNormal">
 		{% else %}
 			<input class="form-control" id="name" name="idUsuarioNormal"/>
		{% endif %} 			        	
      </div>
    </div>
        
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Apellidos Paterno</label>
      <div class="col-sm-10">
      		<input class="form-control" id="name" value="{{usuario.ApellidoPaterno}}" name="ApellidoPaterno"> 			        	
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Apellidos Materno</label>
      <div class="col-sm-10">
      		<input class="form-control" id="name" value="{{usuario.ApellidoMaterno}}" name="ApellidoMaterno"> 			        	
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Nombre</label>
      <div class="col-sm-10">
      		<input class="form-control" id="name" value="{{usuario.Nombre}}" name="Nombre"> 			        	
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Correo</label>
      <div class="col-sm-10">
      		<input class="form-control" id="name" value="{{usuario.Correo}}" name="Correo"> 			        	
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Estado</label>
      <div class="col-sm-10">
      		<input class="form-control" id="name" value="{{usuario.Estado}}" name="Estado"> 			        	
      </div>
    </div>
            
   	<div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
    </div>    
   </form>

	<br /> <input type="button" class="btn btn-danger" value="Back" onclick="history.back();" />  
</div>   
   
</body>
</html>