<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Listado de Usuarios</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  	

  </head>
  <body>
  <h1> Usuarios </h1>

 {% if (message) %}
 <div style="color: green; border: 1px solid green; margin-bottom:10px;">{{message}}</div>
 {% endif %}

	<table border="1">
	  <tr>
	    <th>ID</th>
	    <th>Apellidos</th>
	    <th>Nombres</th>
	    <th>Correo</th>
	  </tr>

{% for usuario in usuarios %}
	  <tr>
	    <td><a href="/usuario/{{usuario.idUsuarioNormal}}">{{usuario.idUsuarioNormal}}</a></td>
	    <td>{{usuario.ApellidoPaterno}} {{usuario.ApellidoMaterno}}</td>
	    <td>{{usuario.Nombre}}</td>
	    <td>{{usuario.Correo}}</td>
	  </tr>
{% endfor %}
	</table>
	<br />	<a href="/usuario/new">Agregar Nuevo</a>
	<br />	<a href="/usuario/searchCode">Buscar Por Codigo</a>
	<br /> <input type="button" value="Atras" onclick="/spotify">
  </body>
</html>