<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datos del Usuario: {{fullName}}</title>
  </head>
  <body>
   <form action="save" method="POST">
	<table border="1">
	  <tr>
	    <th>Id:</th>

 {% if (usuario.idUsuarioNormal) %}
	    <td><input name="idUsuarioNormal" value="{{usuario.idUsuarioNormal}}" type="hidden" />{{usuario.idUsuarioNormal}}</td>
 {% else %}
	    <td><input name="idUsuarioNormal" /></td>
 {% endif %}

	  </tr>
	  <tr>
	    <th>Apellidos Paterno:</th>
	    <td><input name="ApellidoPaterno" value="{{usuario.ApellidoPaterno}}" /></td>
	  </tr>
	  <tr>
	    <th>Apellidos Materno:</th>
	    <td><input name="ApellidoMaterno" value="{{usuario.ApellidoMaterno}}" /></td>
	  </tr>
	  <tr>
	    <th>Nombres:</th>
	    <td><input name="Nombre" value="{{usuario.Nombre}}" /></td>
	  </tr>
	  <tr>
	    <th>Correo:</th>
	    <td><input name="Correo" value="{{usuario.Correo}}" /></td>
	  </tr>
	  <tr>
	    <th>Estado:</th>
	    <td><input name="Estado" value="{{usuario.Estado}}" /></td>
	  </tr>
	</table>
    <br>
	<input type="submit" value="Save" />
	<input type="button" value="Cancel" onclick="history.back();" />
   </form>
  </body>
</html>
