<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Listado de Canciones</title>
  </head>
  <body>

 {% if (message) %}
 <div style="color: green; border: 1px solid green; margin-bottom:10px;">{{message}}</div>
 {% endif %}

	<table border="1">
	  <tr>
	    <th>ID</th>
	    <th>Nombre</th>
	    <th>Fecha</th>
	    <th>Puntuacion</th>
	  </tr>

{% for cancion in canciones %}
	  <tr>
	    <td>{{cancion.Id_cancion}}</a></td>
	    <td>{{cancion.Nombre}} {{usuario.ApellidoMaterno}}</td>
	    <td>{{cancion.Fecha}}</td>
	    <td>{{cancion.Puntuacion}}</td>
	  </tr>
{% endfor %}
	</table>
	
	<br>
	<form action="/cancion/search" method="POST">
	<table border="1">
	  <tr>	<th>Nombre:</th><td><input name="var1" /></td>	</tr>
	</table>
    <br> <input type="submit" value="Buscar Por Nombre" />
   </form>
   
   <br><br>
   <form action="/cancion/album" method="POST">
	<table border="1">
	  <tr>	<th>Nombre:</th><td><input name="var1" /></td>	</tr>
	</table>
    <br> <input type="submit" value="Buscar Por Album" />
   </form>

	<br /> <input type="button" value="Back" onclick="history.back();" />
  </body>
</html>
